.background {
  background-color: #f8fcfb;
}

.dentistsContainer {
  @apply flex;
  width: 70%;
  padding-top: 100px;
  margin: 0 auto;
  background-color: #f8fcfb;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .dentistsContainer {
    width: 100%;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
  }
}
