.background {
  background-color: #f8fcfb;
}

.dentistsContainer {
  @apply flex pt-24 justify-around;
  width: 70%;
  margin: 0 auto;
  background-color: #f8fcfb;
}

@media (max-width: 768px) {
  .dentistsContainer {
    @apply pt-12;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
