.informationContainer {
  @apply flex;
  margin: 0 10%;
  gap: 18%;
}

.header {
  @apply text-7xl mb-3 font-bold;
  color: #2e3538;
}

.detailsHeader::before {
  content: "\2022";
  color: #ffb200;
  margin-right: 0.2em;
}

.detailsHeader {
  @apply text-3xl mb-3;
  color: #2e3538;
}

.detailsParagraph {
  @apply text-xl mt-3;
  color: #7f8182;
}

.underline1 {
  background-color: #ffb200;
  height: 0.5px;
  width: 70%;
}

.underline2 {
  background-color: #ffb200;
  height: 0.5px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .informationContainer {
    @apply inline ml-3;
  }

  .headerContainer {
    margin: 0 0 20px 20px;
  }

  .header {
    @apply text-4xl;
    width: 90%;
    margin-bottom: 5px;
  }

  .detailsHeader {
    margin-bottom: 5px;
  }

  .detailsParagraph {
    @apply text-xl;
    margin-top: 5px;
    margin-left: auto;
    width: 70%;
  }

  .detailsContainer {
    @apply text-center;
    max-width: fit-content;
    margin-right: 20px;
  }

  .underline1 {
    width: 70%;
    margin-bottom: 40px;
  }

  .underline2 {
    width: 60%;
    margin-left: auto;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .header {
    @apply text-6xl;
  }

  .headerContainer {
    margin-left: 7%;
  }

  .detailsContainer {
    margin-right: 7%;
  }

  .detailsParagraph {
    @apply text-2xl;
  }

  .detailsHeader {
    @apply text-3xl;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .informationContainer {
    gap: 10%;
  }

  .header {
    font-size: 3rem;
  }

  .detailsHeader {
    font-size: 1.5rem;
  }

  .detailsParagraph {
    @apply text-xl;
  }
}
