body {
  font-family: "Roboto", sans-serif;
  background-color: #f8fcfb;
}

h3 {
  @apply text-4xl mb-5 font-bold;
  color: #2e3538;
}

h4 {
  @apply text-xl mb-2 font-bold;
  color: #2e3538;
}

p {
  @apply text-2xl;
  opacity: 0.8;
  color: #2e3538;
}

.container {
  width: 80%;
  margin: 0 auto;
  @apply mt-16;
}

.tabs {
  @apply flex justify-between;
  gap: 30px;
}

h4 ::hover {
  cursor: pointer;
}

.content {
  width: 80%;
  margin: 0 auto;
}
.treatmentContainer {
  @apply pt-10;
}

.active {
  border-bottom: 1px solid #20c5af;
}

@media screen and (max-width: 768px) {
  .tabs {
    @apply flex-col;
    align-items: center;
  }
}
