body {
  font-family: "Roboto", sans-serif;
  background-color: #f8fcfb;
}

h3 {
  @apply text-4xl mb-5;
  color: #2e3538;
  font-weight: bold;
}

p {
  @apply text-2xl;
  opacity: 0.8;
  color: #2e3538;
}

.container {
  width: 70%;
  margin: 0 auto;
  @apply mt-16;
}

.treatmentContainer {
  @apply pt-10;
}
